<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/restaurant.css">
    <link rel="shortcut icon" href="/pics/pizza-slice-single-transparent.png" type="image/x-icon">
</head>
<body>

    <%- include('../snippets/html_nav_menu_admin.ejs') %>

    <main>
        <form class="restaurant-form" action="restaurant" method="POST" enctype="multipart/form-data">
            <p><%= statusText %></p>
            <div class="form-control">
                <label for="title">Title</label>
                <input type="text" name="title" id="title">
            </div>

            <div class="form-control">
                <label for="price">Price</label>
                <input type="number" name="price" id="price" step="0.01"> <!-- step allows number to be decimal -->
            </div>

            <!-- <div class="form-control">
                <label for="imageUrl">Image URL</label>
                <input type="text" name="imageUrl" id="imageUrl">
            </div> -->

            <div class="form-control">
                <label for="imageUrl">Image</label>
                <input type="file" name="image" id="image">
            </div>

            <div class="form-control">
                <label for="description">Description</label>
                <textarea name="description" id="description" rows="5"></textarea>
            </div>
                <button type="submit">Add Restaurant</button>
        </form>
    </main>

</body>
</html>