<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/portalRestaurant.css">
    <script src="/js/shortcuts.js"></script>
    <script>
         shortcut.add("1", function() {document.getElementById("NavElementLink#1").click()});   
         shortcut.add("2", function() {document.getElementById("NavElementLink#2").click()});     
         shortcut.add("3", function() {document.getElementById("NavElementLink#3").click()});     
         shortcut.add("4", function() {document.getElementById("NavElementLink#4").click()});     
         shortcut.add("5", function() {document.getElementById("NavElementLink#5").click()});     
         shortcut.add("6", function() {document.getElementById("NavElementLink#6").click()});     
         shortcut.add("7", function() {document.getElementById("NavElementLink#7").click()});     
         shortcut.add("8", function() {document.getElementById("NavElementLink#8").click()});     
         shortcut.add("9", function() {document.getElementById("NavElementLink#9").click()});     
    </script>
    <title>Home</title>
</head>
<body>
    <h1 style="text-align: center; margin:0px; margin-top: 50px; margin-bottom: 25px; padding: 0px;"><%=restaurant.title %></h1>

    <% if(restaurant.menuItems == null) { %>
            <p>welcome to the restaurant portal</p>
            <p>before you can use it you need to set it up</p>
            <a href=""><p>click here to start set up</p></a>    
    <% } %>

    <% if(restaurant.menuItems != null) { %>
        <nav id="PortalNav">
            <!-- non category -->
            
            <!-- orders -->
            <div class="NavCategory Orders">
                <a id="NavElementLink#1" href="/portal/orders/accept"><div class="NavElement"><p><b>#1 Accept Orders</b></p></div></a>
                <a id="NavElementLink#2" href="/portal/orders/chef"><div class="NavElement"><p><b>#2 Confirmed Orders</b></p></div></a>
                <a id="NavElementLink#3" href="/portal/orders/declined"><div class="NavElement"><p><b>#3 Declined Orders</b></p></div></a>
                <a id="NavElementLink#4" href="/portal/orders/completed"><div class="NavElement"><p><b>#4 Completed Orders</b></p></div></a>
            </div>
    
    
            <!-- menu -->
            <div class="NavCategory Menu">
                <a id="NavElementLink#5" href="/portal/menu/show"><div class="NavElement"><p><b>#5 Show Menu</b></p></div></a>
                <a id="NavElementLink#6" href="/portal/menu/edit"><div class="NavElement"><p><b>#6 Edit Menu</b></p></div></a>
            </div>
    
    
            <!-- customer -->
            <div class="NavCategory Customer">
                <a id="NavElementLink#7" href="/portal/stats"><div class="NavElement"><p><b>#7 Statistics</b></p></div></a>
                <a id="NavElementLink#8" href="/portal/reviews"><div class="NavElement"><p><b>#8 Reviews</b></p></div></a>
            </div>
    
            <!-- user -->
            <div class="NavCategory User">
                <a id="NavElementLink#9" href="/portal/settings"><div class="NavElement"><p><b>#9 Settings</b></p></div></a>
                <a id="NavElementLink#10" href="/portal/logout"><div class="NavElement"><p><b>#10 Logout</b></p></div></a>
            </div>
    
            <!-- 
            tbd
            <div class="NavCategory">
                <div class="NavElement FirstColumnDiv">
                    <p><b>x</b></p>
                </div>
                
                <div class="NavElement">
                    <p><b>x</b></p>
                </div>
                
                <div class="NavElement">
                    <p><b>x</b></p>
                </div>
                
                <div class="NavElement">
                    <p><b>x</b></p>
                </div>
            </div> 
            -->
        </nav>   
    <% } %>
</body>
</html>