<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/portalRestaurant.css">
    <link rel="stylesheet" href="/css/mobile.css">
    <link rel="shortcut icon" href="/pics/pizza-slice-single-transparent.png" type="image/x-icon">
    <script src="/js/shortcuts.js"></script>
    <script>
         shortcut.add("1", function() {document.getElementById("NavElementLink#1").click()});   
         shortcut.add("2", function() {document.getElementById("NavElementLink#2").click()});     
         shortcut.add("3", function() {document.getElementById("NavElementLink#3").click()});     
         shortcut.add("4", function() {document.getElementById("NavElementLink#4").click()});     
         shortcut.add("5", function() {document.getElementById("NavElementLink#5").click()});     
         shortcut.add("6", function() {document.getElementById("NavElementLink#6").click()});     
         shortcut.add("7", function() {document.getElementById("NavElementLink#7").click()});     
         shortcut.add("8", function() {document.getElementById("NavElementLink#8").click()});     
         shortcut.add("9", function() {document.getElementById("NavElementLink#9").click()});     
    </script>
    <title>Home</title>
</head>
<body id="restaurantPortal-index-body">
    <h1 id="restaurantPortal-index-title"><%=restaurant.title %></h1>

    <!-- welcome message -->
    <% if(restaurant.welcomeMessage == true) { %>
        <div id="restaurant-welcomeMessage">
            <p style="margin: 0px; margin-bottom: 5px; padding: 0px;">Welcome to the restaurant portal, before you can take orders you need to complete following steps:</p>
            <p style="margin: 0px; padding: 0px;"></p>

            <div style="margin: auto;">
                <p style="margin: 0px; padding: 0px; padding-top: 5px; padding-bottom: 5px; text-align: center; background-color: orange; border-bottom: 1px solid black;"><a href="/restaurantPortal/menu/edit"><b>1:</b> edit your menu </a></p>
                <p style="margin: 0px; padding: 0px; padding-top: 5px; padding-bottom: 5px; text-align: center; background-color: orange; border-bottom: 1px solid black;"><a href="/restaurantPortal/settings"><b>2:</b> activate restaurant in settings</a></p>
                <p style="margin: 0px; padding: 0px; padding-top: 5px; padding-bottom: 5px; text-align: center; background-color: orange;"><a href="/restaurantPortal/settings"><b>3:</b> open restaurant in settings</a></p>

            <br />

            <div style="margin: auto;">

            <p style="margin: 0px; margin-bottom: 5px; padding: 0px;">Options</p>
            
            <form action="/restaurantPortal/welcomeMessage" method="POST">
                <input hidden name="welcomeMessage" value=false></input>
                <input hidden name="page" value="home"></input>
                <button class="profile-buttons" style="padding-top: 5px; padding-bottom: 5px;">Stop Showing This Message</button><br />
            </form>
            
            <button style="text-align: center; padding-top: 5px; padding-bottom: 5px;"><a href="/restaurantPortal/logout">Logout</a></button><br />
            </div>
        </div>
    <% } %>

    <!-- restaurant portal menu -->
    <% if(restaurant.welcomeMessage == false) { %>
        <nav id="PortalNav">
            <!-- non category -->
            
            <!-- orders -->
            <div class="NavCategory Orders">
                <a id="NavElementLink#1" href="/restaurantPortal/orders/accept"><div class="NavElement"><p><b>#1 Accept Orders</b></p></div></a>
                <a id="NavElementLink#2" href="/restaurantPortal/orders/chef"><div class="NavElement"><p><b>#2 Confirmed Orders</b></p></div></a>
                <a id="NavElementLink#3" href="/restaurantPortal/orders/declined"><div class="NavElement"><p><b>#3 Declined Orders</b></p></div></a>
                <a id="NavElementLink#4" href="/restaurantPortal/orders/completed"><div class="NavElement"><p><b>#4 Completed Orders</b></p></div></a>
            </div>
    
    
            <!-- menu -->
            <div class="NavCategory Menu">
                <a id="NavElementLink#5" href="/restaurantPortal/menu/show"><div class="NavElement"><p><b>#5 Show Menu</b></p></div></a>
                <a id="NavElementLink#6" href="/restaurantPortal/menu/edit"><div class="NavElement"><p><b>#6 Edit Menu</b></p></div></a>
            </div>
    
    
            <!-- customer -->
            <div class="NavCategory Customer">
                <a id="NavElementLink#7" href="/restaurantPortal/stats"><div class="NavElement"><p><b>#7 Statistics</b></p></div></a>
                <a id="NavElementLink#8" href="/restaurantPortal/reviews"><div class="NavElement"><p><b>#8 Reviews</b></p></div></a>
            </div>
    
            <!-- user -->
            <div class="NavCategory User">
                <a id="NavElementLink#9" href="/restaurantPortal/settings"><div class="NavElement"><p><b>#9 Settings</b></p></div></a>
                <a id="NavElementLink#10" href="/restaurantPortal/logout"><div class="NavElement"><p><b>#10 Logout</b></p></div></a>
            </div>
    
        </nav>   
    <% } %>
</body>
</html>