<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
</head>

<style>
    /*** elements ***/
    body { background-color: #3c41d6; }

    /*** ids ***/
    #errorMessage 
    { 
        margin: auto; 
        margin-top: 10px; 
        font-family: Arial, Helvetica, sans-serif; 
        font-size: 27px;
        text-align: center; 
        color: white; 
        text-shadow: 1px 1px black; 
    }
    #NavBar { text-align: left; color: white; font-family: Arial, Helvetica, sans-serif; text-shadow: 1px 1px black; background-color: #3c41d6; }
</style>

<body>
    <a href="/restaurantPortal">
        <div id="NavBar">
            <b>❮</b>
        </div>
    </a>
    
    <h1 id="errorMessage">Page does not exist</h1>
</body>

</html>
