<nav class="main-header__nav">
    <ul class="main-header__item-list_left">
        <li id="navButtonAdminUsers" class="main-header__item"><a href="/admin/users">Users</a></li>
        <li id="navButtonAdminRestaurants" class="main-header__item"><a href="/admin/restaurants">Restaurants</a></li>
        <li id="navButtonAdminReviews" class="main-header__item"><a href="/admin/reviews">Reviews</a></li>
        <li id="navButtonAdminStats" class="main-header__item"><a href="/admin/stats">Statistics</a></li>
        <li id="navButtonAdminLogout" class="main-header__item">
            <form action="/logout-post" method="POST">
                <button id="navButtonAdminLogout" type="submit"><b>Logout</b></button>
            </form>
        </li>
    </ul>

    <ul class="main-header__item-list_right">
    </ul>
</nav>


<style>
   /*** ids ***/
   #navButtonAdminLogout 
   { 
        font-size: 16px; 
        text-shadow: 1px 1px black;
        cursor: pointer;
        color: white; 
        border: 0px solid black; 
        background-color: transparent; 
    }
    

    /*** classes ***/
    .main-header { margin: 0px; padding: 0px; font-size: 18px; }
    .main-header__nav { display: flex; margin: 0px; padding: 0px 0px 0px 7px; text-shadow: 1px 1px black; color: white; }
    .main-header__item { padding: 0px; padding-top: 11px; padding-bottom: 11px; }
    .main-header__item-list_right { list-style: none; margin: 0px; margin-left: auto; padding: 0px; display: flex; }
    .main-header__item-list_left { list-style: none; margin: 0px; padding: 0px; padding-left: 0px; display: flex; }
    .main-header__item a{ margin: 0px; padding: 11px; }
    .main-header__item a { text-decoration: none; font-weight: bold; color: white; }
    .main-header__item a:hover { color: white; }

    
    /*** mobile ***/
    @media screen and (max-width: 1000px) {
        .main-header__nav { overflow-x: scroll; }
        .main-header__nav::-webkit-scrollbar { display: none; }
    }
</style>