<a href="/" style="text-decoration: none;">
    <header class="main-header" style="padding-top: 7px; padding-bottom: 7px;">
        <nav class="main-header__nav">
            <!-- top left -->
            <ul class="main-header__item-list_left">
                <p><b>❮</b></p>
            </ul>

            <!-- top right -->
            <ul class="main-header__item-list_right">

            </ul>
        </nav>
</header>
</a>