<nav class="main-header__nav">
    <ul class="main-header__item-list_left">
        <li id="navButtonAdminUsers" class="main-header__item"><a href="/admin/users">Users</a></li>
        <li id="navButtonAdminRestaurants" class="main-header__item"><a href="/admin/restaurants">Restaurants</a></li>
        <li id="navButtonAdminReviews" class="main-header__item"><a href="/admin/reviews">Reviews</a></li>
        <li id="navButtonAdminStats" class="main-header__item"><a href="/admin/stats">Statistics</a></li>
        <li id="navButtonAdminLogout" class="main-header__item">
            <form action="/logout-post" method="POST">
                <button id="navButtonAdminLogout" type="submit"><b>Logout</b></button>
            </form>
        </li>
        <!-- <li id="navButtonAdminHome" class="main-header__item"><a href="/admin/home">Home</a></li> -->
        <!-- <li id="navButtonAdminOrders" class="main-header__item"><a href="/admin/orders">Orders</a></li> -->
    </ul>

    <ul class="main-header__item-list_right">

    </ul>
</nav>

<style>
   #navButtonAdminLogout 
   { 
        font-size: 16px; 
        text-shadow: 1px 1px black;
        cursor: pointer;
        color: white; 
        border: 0px solid black; 
        background-color: transparent; 
    } 
</style>