<!-- portal/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/icon.png" type="image/x-icon">
    <title>Home</title>
</head>

<body id="portal-index-body">
    <!-- welcome message -->
    <% if(restaurant.welcomeMessage == true) { %>
        <div id="welcomeMessage">
            <p class="welcomeMessageText">Welcome</p>
            <p class="welcomeMessageText">Complete following steps to start taking orders:</p>
            
            <br />
            <a href="/portal/menu/edit"><p class="welcomeMessageStep"><b>1 · </b> edit your menu </p></a>
            <a href="/portal/settings"><p class="welcomeMessageStep"><b>2 · </b> activate restaurant</p></a>
            <a href="/portal/settings"><p class="welcomeMessageStep"><b>3 · </b> open restaurant</p></a>
            <br />

            <form action="/portal/welcomeMessage" method="POST">
                <input hidden name="welcomeMessage" value=false></input>
                <input hidden name="page" value="home"></input>
                <button class="welcomeMessageButton">Stop Showing This Message</button>
            </form>
            
            <button class="welcomeMessageButton"><a href="/portal/logout">Logout</a></button>
        </div>

    <!-- nav menu -->
    <% } else { %>
        <nav id="PortalNav">
            <a id="NavElementLink#1" href="/portal/orders/history"><div class="NavElement"><p>Orders</p></div></a>
            <a id="NavElementLink#2" href="/portal/menu/edit"><div class="NavElement"><p>Menu</p></div></a>
            <a id="NavElementLink#3" href="/portal/stats"><div class="NavElement"><p>Stats</p></div></a>
            <a id="NavElementLink#4" href="/portal/settings"><div class="NavElement"><p>Settings</p></div></a>
            <a id="" href="/portal/logout"><div id="buttonLogout" class="NavElement"><p>Logout</p></div></a>    
        </nav>   
    <% } %>
</body>


<style>
    /*** scrollbar ***/
    ::-webkit-scrollbar { width: 7px; }


    /*** elements ***/
    html { height: 100vh; width: 100vw; background-size: cover; background-repeat: no-repeat; }
    body { margin: 0px; padding: 0px; overflow: hidden; font-family: Arial, Helvetica, sans-serif; background-color: #3c41d6; }
    h1 { margin: 0px; font-family: Arial, Helvetica, sans-serif; }
    p { margin: 0px; font-family: Arial, Helvetica, sans-serif; }
    b { font-family: Arial, Helvetica, sans-serif; }
    a { text-decoration: none; color: black; }
    button { color: black; }
    button:focus { outline: none; }
    input { width: 100%; font-family: Arial, Helvetica, sans-serif; }
    input[type=number]::-webkit-inner-spin-button { opacity: 1 }
    input { width: 392px; }
    input::placeholder { color: white; }
    input:focus { outline: none; }
    

    /*** classes ***/
    .NavElement 
    { 
        padding: 20px; 
        text-shadow: 1px 1px black; 
        color: white; 
        font-weight: bold;
        border-bottom: 1px solid #00000040; 
        background-color: #3c41d6; 
    }
    .welcomeMessageText { margin: 0px; padding: 0px; text-align: center; color: white; }
    .welcomeMessageButton 
    { 
        display: block; 
        margin: auto;
        padding: 18px; 
        width: 100%; 
        font-size: 16px;
        font-weight: bold;
        color: black; 
        border: 1px solid black; 
        background-color: white; 
    }
    .welcomeMessageStep { margin: 0px; padding: 18px 0px 18px 0px; text-align: center; color: white; }
    

    /*** ids ***/
    #portal-index-title
    {
        text-align: center;  
        margin: 30px 0px 26px 0px; 
        padding: 0px;
        text-shadow: 2px 1px black; 
        color: white; 
    }
    #PortalNav { width: 400px; margin: auto; margin-top: 16vh; font-size: 20px; overflow-y: auto; text-align: center; }
    #welcomeMessage 
    { 
        width: 400px; 
        margin: auto; 
        margin-top: 20px; 
        padding: 10px; 
        font-weight: bold; 
        text-shadow: 1px 1px black; 
        color: white; 
    }
    #buttonLogout { border: 0px solid black; }

    
    /*** mobile ***/
    @media screen and (max-width: 1000px) {
        ::-webkit-scrollbar { display: none; }
        ::-webkit-scrollbar { height: 0px; width: 0px; }

        button:focus, button:hover { background-color: white; color: black; }

        #PortalNav { width: auto; margin-top: 0px; }
        #welcomeMessage { width: 84vw; }
        #buttonLogout { border-bottom: 1px solid #00000040; }

        #portal-index-title
        {
            visibility: hidden;
            text-align: center;  
            color: black; 
            margin: 0px; 
            margin-top: -36px; 
            margin-bottom: 0px; 
            padding: 0px;
        }
    }
</style>
</html>