<!-- portal/settings.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/icon.png" type="image/x-icon">
    <title>Settings</title>
</head>


<script>
    function editProfileCredentials()
    {
        //elements
        let profileCredentials = document.getElementById("profileCredentials")
        let editProfileCredentials = document.getElementById("editProfileCredentials")

        //update elements
        if(profileCredentials.style.display == "block" || editProfileCredentials == "none")
        {
            profileCredentials.style.display = "none"
            editProfileCredentials.style.display = "block"
        }
        else
        {
            profileCredentials.style.display = "block"
            editProfileCredentials.style.display = "none"
        }
    }
</script>


<body>
    <!-- nav menu -->
    <%- include('nav-menu-portal.ejs') %>

    <div id="settings">
        <!-- status -->
        <p class="categoryTitle">Status</p>
        <div id="categoryStatus" class="category">
            <% if(restaurant.menuListed == false) { %> <p class="statusItem red"><b>restaurant</b> is inactive</p> <% } %>
            <% if(restaurant.menuListed == true) { %> <p class="statusItem green"><b>restaurant</b> is active</p><% } %>

            <% if(restaurant.menuOnline == false) { %> <p class="statusItem red"><b>restaurant</b> is closed</p> <% } %>
            <% if(restaurant.menuOnline == true) { %> <p class="statusItem green"><b>restaurant</b> is open</p> <% } %>
        </div>

        <!-- activate/deactivate restaurant -->
        <p class="categoryTitle">Options</p>
        <form action="/portal/menuListed" method="POST">
            <% if(restaurant.menuListed == false) { %>
                <input hidden name="menuListed" value=true></input>
                <button class="profile-buttons optionButton">activate</button><br />
            <% } %>
            
            <% if(restaurant.menuListed == true) { %>
                <input hidden name="menuListed" value=false></input>
                <button class="profile-buttons optionButton">deactivate</button><br />
            <% } %>
        </form>

        <!-- open/close restaurant -->        
        <form action="/portal/menuOnline" method="POST">
            <% if(restaurant.menuOnline == false) { %>
                <input hidden name="menuOnline" value="true"></input>
                <button class="profile-buttons optionButton">open</button><br />
            <% } %>
            
            <% if(restaurant.menuOnline == true) { %>
                <input hidden name="menuOnline" value="false"></input>
                <button class="profile-buttons optionButton">close</button><br />
            <% } %>
        </form>
    </div>
</body>


<style>
    /*** scrollbar ***/
    ::-webkit-scrollbar { height: 0px; width: 7px; }


    /*** elements ***/
    body { background-color: #3c41d6; margin: 0px; padding: 0px; }
    p { font-family: Arial, Helvetica, sans-serif; }
    b { font-family: Arial, Helvetica, sans-serif; }
    a { text-decoration: none; color: black; }
    input { font-family: Arial, Helvetica, sans-serif; }
    input[type=number]::-webkit-inner-spin-button { opacity: 1 }
    input { width: 392px; }


    /*** classes ***/
    .statusItem { margin: 0px; padding: 20px 0px 20px 0px; text-transform: capitalize; font-size: 18px; border-bottom: 1px solid black; }
    .categoryTitle { margin: 20px 0px 0px 0px; padding: 0px; font-weight: normal; font-size: 20px; text-shadow: 1px 1px black; color: white; }
    .credential { margin: 0px; padding: 0px; }
    .optionButton 
    { 
        width: 100%; 
        padding: 20px 0px 20px 0px; 
        font-weight: bold; 
        font-size: 18px;
        text-transform: capitalize;
        border: 0px solid black; 
        border-bottom: 1px solid black; 
    }
    .red { background-color: red; }
    .green { background-color: green; }


    /*** ids ***/
    #categoryStatus { text-align: center; }
    #settings { margin: auto; width: 400px; }

    
    /*** mobile ***/
    @media screen and (max-width: 1000px) {
        ::-webkit-scrollbar { display: none; }
        ::-webkit-scrollbar { height: 0px; width: 0px; }

        button:focus, button:hover { background-color: white; color: black; }
        
        #settings { width: 90vw; }
        #profileCredentials { width: 94vw; }
    }
</style>
</html>