<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/portalRestaurant.css">
    <link rel="stylesheet" href="/css/mobile.css">
    <link rel="shortcut icon" href="/pics/pizza-slice-single-transparent.png" type="image/x-icon">
    <title>Home</title>
</head>

<script src="/js/shortcuts.js"></script>
<script>
        shortcut.add("1", function() {document.getElementById("NavElementLink#1").click()});   
        shortcut.add("2", function() {document.getElementById("NavElementLink#2").click()});     
        shortcut.add("3", function() {document.getElementById("NavElementLink#3").click()});     
        shortcut.add("4", function() {document.getElementById("NavElementLink#4").click()});     
        // shortcut.add("5", function() {document.getElementById("NavElementLink#5").click()});     
        // shortcut.add("6", function() {document.getElementById("NavElementLink#6").click()});     
        // shortcut.add("7", function() {document.getElementById("NavElementLink#7").click()});     
        // shortcut.add("8", function() {document.getElementById("NavElementLink#8").click()});     
        // shortcut.add("9", function() {document.getElementById("NavElementLink#9").click()});     
</script>

<style>
    /*** elements ***/
    body { background-color: #3c41d6; }
    
    /*** classes ***/
    .NavElement 
    { 
        padding: 7px; 
        text-shadow: 1px 1px black; 
        color: white; 
        font-weight: bold;
        border-bottom: 1px solid #00000040; 
        background-color: #3c41d6; 
    }
    .welcomeMessageText { margin: 0px; padding: 0px; text-align: center; color: white; }
    .welcomeMessageButton 
    { 
        display: block; 
        margin: auto;
        padding: 18px; 
        width: 100%; 
        font-size: 16px;
        font-weight: bold;
        color: black; 
        border: 1px solid black; 
        background-color: white; 
    }
    .welcomeMessageStep { margin: 0px; padding: 18px 0px 18px 0px; text-align: center; color: white; }

    /*** elements ***/
    #PortalNav { width: 400px; margin: auto; margin-top: 16vh; overflow-y: auto; text-align: center; }
    #NavElementLogout { background-color: red; }    
    #welcomeMessage 
    { 
        width: 400px; 
        margin: auto; 
        margin-top: 20px; 
        padding: 10px; 
        font-weight: bold; 
        text-shadow: 1px 1px black; 
        color: white; 
    }
    #buttonLogout { border: 0px solid black; }

    /*** mobile ***/
    @media screen and (max-width: 1000px) {
        #PortalNav { width: auto; margin-top: 0px; }
        #NavElementLogout { width: 100%; position: fixed; bottom: 0px; border: 1px solid #00000040; }
        #welcomeMessage { width: 84vw; }
        #buttonLogout { border-bottom: 1px solid #00000040; }
    }
</style>

<body id="restaurantPortal-index-body">
    <!-- title -->
    <!-- <h1 id="restaurantPortal-index-title"><%=restaurant.title %></h1> -->

    <!-- welcome message -->
    <% if(restaurant.welcomeMessage == true) { %>
        <div id="welcomeMessage">
            <p class="welcomeMessageText">Welcome</p>
            <p class="welcomeMessageText">Complete following steps to start taking orders:</p>
            
            <br />
            
            <a href="/restaurantPortal/menu/edit"><p class="welcomeMessageStep"><b>1 · </b> edit your menu </p></a>
            <a href="/restaurantPortal/settings"><p class="welcomeMessageStep"><b>2 · </b> activate restaurant</p></a>
            <a href="/restaurantPortal/settings"><p class="welcomeMessageStep"><b>3 · </b> open restaurant</p></a>
            
            <br />

            <!-- <p class="welcomeMessageText"><b>Options</b></p> -->
            <form action="/restaurantPortal/welcomeMessage" method="POST">
                <input hidden name="welcomeMessage" value=false></input>
                <input hidden name="page" value="home"></input>
                <button class="welcomeMessageButton">Stop Showing This Message</button>
            </form>
            
            <button class="welcomeMessageButton"><a href="/restaurantPortal/logout">Logout</a></button>
        </div>

    <!-- nav menu -->
    <% } else { %>
        <nav id="PortalNav">
            <a id="NavElementLink#1" href="/restaurantPortal/orders/history"><div class="NavElement"><p>Orders</p></div></a>
            <a id="NavElementLink#2" href="/restaurantPortal/menu/edit"><div class="NavElement"><p>Menu</p></div></a>
            <a id="NavElementLink#3" href="/restaurantPortal/stats"><div class="NavElement"><p>Statistics</p></div></a>
            <a id="NavElementLink#4" href="/restaurantPortal/settings"><div class="NavElement"><p>Settings</p></div></a>
            <a id="" href="/restaurantPortal/logout"><div id="buttonLogout" class="NavElement"><p>Logout</p></div></a>    
        </nav>   
    <% } %>
</body>
</html>