<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/icon.png" type="image/x-icon">
    <title><%= pageTitle %></title>
</head>

<script>       
    function registerCustomer()
    {
        //elements
        let customerForm = document.getElementById("registerCustomer")
        let restaurantForm = document.getElementById("registerRestaurant")
        let customerBtn = document.getElementById("registerCustomerBtn")
        let restaurantBtn = document.getElementById("registerRestaurantBtn")

        //update elements
        customerForm.style.display = "block"
        restaurantForm.style.display = "none"
        restaurantBtn.style.backgroundColor = "#f7f9f9"
        restaurantBtn.style.color = "black"
        customerBtn.style.backgroundColor = "black"
        customerBtn.style.color = "#f7f9f9"
    }

    function registerRestaurant()
    {
        //elements
        let customerForm = document.getElementById("registerCustomer")
        let restaurantForm = document.getElementById("registerRestaurant")
        let customerBtn = document.getElementById("registerCustomerBtn")
        let restaurantBtn = document.getElementById("registerRestaurantBtn")
        
        //update elements
        customerForm.style.display = "none"
        restaurantForm.style.display = "block"
        customerBtn.style.backgroundColor = "#f7f9f9"
        customerBtn.style.color = "black"
        restaurantBtn.style.backgroundColor = "black"
        restaurantBtn.style.color = "#f7f9f9"
    }

    function checkPassRestaurant()
    {
        //elements
        let password = document.getElementById("passwordRestaurant")
        let confirmPassword = document.getElementById("confirmPasswordRestaurant")
        let submitFormButton = document.getElementById("submitFormBtnRegisterRestaurant")

        //update elements
        if(confirmPassword.value == "")
        {
            
        }   
        else if(password.value != confirmPassword.value)
        {
            password.style.color = "red"
            confirmPassword.style.color = "red"
            submitFormButton.disabled = true
        }
        else if(password.value == confirmPassword.value)
        {
            password.style.color = "lightgreen"
            confirmPassword.style.color = "lightgreen"
            submitFormButton.disabled = false
        }
    }

    function checkPassCustomer()
    {
        //elements
        let password = document.getElementById("passwordCustomer")
        let confirmPassword = document.getElementById("confirmPasswordCustomer")
        let submitFormButton = document.getElementById("submitFormBtnRegisterCustomer")

        //update elements
        if(confirmPassword.value == "")
        {

        }
        else if(password.value != confirmPassword.value)
        {
            password.style.color = "red"
            confirmPassword.style.color = "red"
            submitFormButton.disabled = true
        }
        else if(password.value == confirmPassword.value)
        {
            password.style.color = "lightgreen"
            confirmPassword.style.color = "lightgreen"
            submitFormButton.disabled = false
        }
    }
</script>

<style>
    /*** scrollbar ***/
    ::-webkit-scrollbar { height: 0px; width: 0px; }

    /*** elements ***/
    html { height: 100vh; width: 100vw; background-size: cover; background-repeat: no-repeat; }
    body { height: 100vh; margin: 0px; padding: 0px; overflow: hidden; font-family: Arial, Helvetica, sans-serif; background-color: #3c41d6 }
    button 
    { 
        width: 392px; 
        margin: 0px; 
        padding: 10px; 
        font-size: 16px; 
        border-radius: 0%; 
        border: 1px solid black;
        background-color: white;
    }
    button { color: black; }
    button:focus { outline: none; }
    p { margin: 0px; }
    input 
    { 
        width: 382px;
        margin: 0px;
        padding: 7px 0px 7px 10px; 
        font-size: 20px; 
        font-weight: bold; 
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
        color: white; 
        border: 0px solid black;
        border-bottom: 1px solid rgba(255, 255, 255, 0.9);
        background-color: black; 
    }
    input::placeholder { color: white; }
    input[type=number]::-webkit-inner-spin-button { opacity: 1 }
    input:focus { outline: none; }

    /*** ids ***/
    #main-register 
    { 
        width: 400px; 
        margin: auto; 
        text-align: center;
    }
    #register-restaurant-post { width: 400px; }
    #selectRegisterType { display: flex; width: 393px; margin: 20px 0px 0px 0px; margin-left: 3px; }
    #statusText { margin: 20px 0px 0px 0px; font-size: 20px; font-weight: bold; text-shadow: 1px 1px black; color: white; }
    #title { text-shadow: 1px 1px black; color: white; }
    #registerCustomerBtn { width: 200px; }
    #registerRestaurantBtn { width: 200px; }
    #submitFormBtnRegisterRestaurant { margin-top: -1px; }
    #submitFormBtnRegisterCustomer { margin-top: -1px; }
    /* #main-register button { margin: -12px 0px 20px 0px; height: 30px; width: 125px; border: 1px solid gray; } */

    /*** mobile ***/
    @media screen and (max-width: 1000px) {
        input { width: 87vw; }
        button { width: 100%; }
        button:focus, button:hover { background-color: white; color: black; }

        #main-register { width: 90vw; }
        #selectRegisterType { width: 100%; margin-left: 0px; }
    }
</style>

<body>
    <!-- nav menu -->
    <%- include('nav-menu-anon.ejs') %>
    
    <div id="main-register">
        <!-- title -->
        <h3 id="title">Register</h3>
        
        <!-- register error message -->
        <p id="statusText"><%=statusText %></p>
        
        <!-- select register type buttons -->
        <div id="selectRegisterType">
            <button id="registerCustomerBtn" onclick="registerCustomer()"><b>Customer</b></button>
            <button id="registerRestaurantBtn" onclick="registerRestaurant()"><b>Restaurant</b></button>
        </div>
        
        <!-- register customer -->
        <div hidden id="registerCustomer">
            <form action="/register-post" method="POST">
                <input type="email" maxlength="100" id="emailCustomer" name="emailCustomer" placeholder="Email" value="" required>
                <input type="text" maxlength="100" id="nameCustomer" name="nameCustomer" placeholder="Name" value="" required>
                <input type="password" maxlength="100" id="passwordCustomer" name="passwordCustomer" placeholder="Password" value="" oninput="checkPassCustomer()" required>
                <input type="password" maxlength="100" id="confirmPasswordCustomer" name="confirmPasswordCustomer" placeholder="Confirm Password" value="" oninput="checkPassCustomer()" required>
                <button class="btn" id="submitFormBtnRegisterCustomer" type="submit"><b>Confirm</b></button>
            </form>
        </div>

        <!-- register restaurant -->
        <div hidden id="registerRestaurant">
            <form action="register-restaurant-post" method="POST">
                <input type="email" maxlength="100" id="emailRestaurant" name="emailRestaurant" placeholder="Email" value="" required>
                <input type="text" maxlength="100" id="addressRestaurant" name="addressRestaurant" placeholder="Address" value="" required>
                <input type="tel" maxlength="15" id="phoneRestaurant" name="phoneRestaurant" placeholder="Phone" value="" required>
                <input type="text" maxlength="100" id="ownerRestaurant" name="ownerRestaurant" placeholder="Owner Name" value="" required>
                <input type="text" maxlength="100" id="nameRestaurant" name="nameRestaurant" placeholder="Restaurant Name" value="" required>
                <input type="text" maxlength="15" id="companyIdNumberRestaurant" name="companyIdNumberRestaurant" placeholder="Company Id Number" value="" required>
                <input type="text" maxlength="15" id="city" name="city" placeholder="City" value="" required>
                <input type="password" maxlength="100" id="passwordRestaurant" name="passwordRestaurant" placeholder="Password" value="" oninput="checkPassRestaurant()" required>
                <input type="password" maxlength="100" id="confirmPasswordRestaurant" name="confirmPasswordRestaurant" placeholder="Confirm Password" value="" oninput="checkPassRestaurant()" required>
                <button id="submitFormBtnRegisterRestaurant" class="btn" type="submit"><b>Confirm</b></button>
            </form>
        </div>
    </div>
</body>
</html>
