<!-- user/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/mobile.css">
    <link rel="shortcut icon" href="/pics/pizza-slice-single-transparent.png" type="image/x-icon">
</head>

<script>
    function goBack()
    {
        window.history.back();
    }

    function setBackgroundGif()
    {
        let html = document.querySelector("html")
        let randomNumber = Math.floor(Math.random() * 20) + 1

        if(randomNumber > 20) { randomNumber = 20 }
        else if(randomNumber == 0) { randomNumber = 1 }

        html.style.backgroundImage = "url(/gifs/" + randomNumber + ".gif)"
    }
</script>

<style>
    /*** scrollbar ***/
    ::-webkit-scrollbar { width: 0px; }

    /*** elements ***/
    body { height: 100vh; }
    a { text-decoration: none; color: white; }
    
    /*** ids ***/
    #newsPosts { height: 74vh; text-align: center; overflow-y: scroll; }
    #indexHelpButtons { margin: auto; }
    #indexAnonMenuAboutButton { border-bottom: 0px solid white; }
    /* #bodyIndex { background-color: #3c41d6; } */
</style>

<body id="bodyIndex" onload="setBackgroundGif()">
    <!-- admin view -->
    <% if(admin != null && admin == true) { %>
        <%- include('nav_menu_admin.ejs') %>
        <h2 style="text-align: center;">Admin Portal</h2>

    <!-- user view -->
    <% } else if(loggedIn == true) { %>
        <%- include('nav_menu_user.ejs') %>

    <!-- anon view -->
    <% } else { %> 
        <div id="indexAnonMenu">
            <div id="indexAnonMenuLoginButton" class="indexAnonMenuItem"><a href="/login"><b><p>Login</p></b></a></div>
            <div id="indexAnonMenuRegisterButton" class="indexAnonMenuItem"></li><a href="/register"><b><p>Register</p></b></a></div>
            <div id="indexAnonMenuRestaurantsButton" class="indexAnonMenuItem"></li><a href="/restaurants"><b><p>Restaurants</p></b></a></div>
            <div id="indexAnonMenuAboutButton" class="indexAnonMenuItem"><a href="/about"><b><p>About</p></b></a></div>
            <!-- <div id="indexAnonMenuContactButton" class="indexAnonMenuItem"><a href="/contact"><b><p>Contact</p></b></a></div> -->
        </div>
    <% } %>
</body>
</html>