<!-- user/login.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/icon.png" type="image/x-icon">
    <title><%= pageTitle %></title> 
</head>


<body>
    <!-- nav menu -->
    <%- include('nav-menu-anon.ejs') %>

    <div id="main-login">
        <!-- login error message -->
        <p id="statusText"><%=statusText %></p>
        
        <!-- login form -->
        <form action="/login-post" method="POST">
            <input required type="email" id="email" name="email" placeholder="Email" value="">
            <input required type="password" id="password" name="password" placeholder="Password" value="">
            <button id="buttonLogin" class="btn" type="submit"><b>Login</b></button>
        </form>
    </div>
</body>


<style>
    /*** scrollbar ***/
    ::-webkit-scrollbar { height: 0px; width: 0px; }

    /*** elements ***/
    html { height: 100vh; width: 100vw; background-size: cover; background-repeat: no-repeat; }
    body { height: 100vh; margin: 0px; padding: 0px; overflow: hidden; font-family: Arial, Helvetica, sans-serif; background-color: #3c41d6 }
    p { margin: 0px; }
    button 
    { 
        width: 392px; 
        margin: 0px; 
        padding: 10px; 
        font-size: 16px; 
        border-radius: 0%; 
        border: 1px solid black;
        background-color: white;
    }
    button { color: black; }
    button:focus { outline: none; }
    input 
    { 
        width: 382px;
        margin: 0px;
        padding: 7px 0px 7px 10px; 
        font-size: 22px; 
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        text-align: left; 
        color: white; 
        border: 0px solid black;
        border-bottom: 1px solid rgba(255, 255, 255, 0.9);
        background-color: black; 
    }
    input::placeholder { color: white; }
    input[type=number]::-webkit-inner-spin-button { opacity: 1 }
    input:focus { outline: none; }

    /*** ids ***/
    #main-login {  margin: auto; width: 400px; text-align: center; }
    #title { margin: 0px; margin-bottom: 20px; text-shadow: 1px 1px black; color: white; }
    #buttonLogin { margin-top: -1px; font-size: 18px; }
    #statusText { margin: 10px 0px 20px 0px; font-size: 20px; font-weight: bold; text-shadow: 1px 1px black; color: white; }
    
    /*** mobile ***/
    @media screen and (max-width: 1000px) {
        button:focus, button:hover { background-color: white; color: black; }

        input { width: 90vw; }
        button { width: 100%; }

        #main-login { width: 93vw; }
    }
</style>
</html>
