<!-- user/about.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/icon.png" type="image/x-icon">
    <title>About</title>
</head>

<style>
    /*** scrollbar ***/
    ::-webkit-scrollbar { height: 0px; width: 0px; }

    /*** elements ***/
    body { height: 100vh; margin: 0px; padding: 0px; overflow: hidden; font-family: Arial, Helvetica, sans-serif; background-color: #3c41d6; text-align: center; color: white; }
    html { height: 100vh; width: 100vw; background-size: cover; background-repeat: no-repeat; }
    p { margin: 0px; }

    /*** classes ***/
    .categoryTitle { margin-top: 20px; font-weight: bold; font-size: 20px; }
    .privacyPolicyItem { }
    .yes { color: lightgreen; }
    .no { color: red; }

    /*** ids ***/
    #main-about { width: 700px; margin-top: 0px; margin: auto; }
    #categoryAbout { margin-top: 0px; }

    /*** mobile ***/
    @media screen and (max-width: 1000px) {        
        #main-about { width: 94vw; margin-top: 0px; padding-bottom: 20px; }
    }
</style>

<body>
    <!-- nav menu -->
    <%- include('nav-menu-anon.ejs') %>

    <div id="main-about">
        <!-- about -->
        <p id="categoryAbout" class="categoryTitle">About</p>
        <p>This is a food ordering platform demo, made to learn about Node.js, EJS, Express.js, Mongodb, Payment APIs</p>
        
        <!-- privacy -->
        <p class="categoryTitle">Privacy Policy</p>
        <div class="category">
            <p class="privacyPolicyItem">Collects Account Data: <span class="yes">Yes</span></p>
            <p class="privacyPolicyItem">Collects Personal Data: <span class="yes">Yes</span></p>
            <p class="privacyPolicyItem">Collects Device Data: <span class="no">No</span></p>
            <p class="privacyPolicyItem">Collects Metrics Data: <span class="no">No</span></p>
            <p class="privacyPolicyItem">Collects Diagnostics Data: <span class="no">No</span></p>
            <p class="privacyPolicyItem">Collects Location Data: <span class="no">No</span></p>
            <p class="privacyPolicyItem">Collects Financial Data: <span class="no">No</span></p>
            <p class="privacyPolicyItem">Collects Messages Data: <span class="no">No</span></p>
            <p class="privacyPolicyItem">Collects Media Data: <span class="no">No</span></p>
            <p class="privacyPolicyItem">Uses Cookies: <span class="yes">Yes</span></p>
            <p class="privacyPolicyItem">Uses Local Storage: <span class="yes">Yes</span></p>
            <p class="privacyPolicyItem">Links to Other Websites: <span class="no">No</span></p>
            <p class="privacyPolicyItem">Policy Might Change in the Future: <span class="yes">Yes</span></p>
        </div>
    </div>
</body>
</html>