
/*** scrollbar ***/
::-webkit-scrollbar { height: 0px; width: 0px; }
::-webkit-scrollbar-track { background: transparent; } /* Track */ 
::-webkit-scrollbar-thumb { background: transparent; } /* Handle */
::-webkit-scrollbar-thumb:hover { background: transparent; } /* Handle on hover */


/*** elements ***/
html { height: 100vh; width: 100vw; background-size: cover; background-repeat: no-repeat; }
body { margin: 0px; padding: 0px; overflow: hidden; font-family: Arial, Helvetica, sans-serif; }
input { width: 100%; font-family: arial; }
textarea { border: none; outline: none; font-family: arial; background-color: #EFEFEF; }
textarea::placeholder { color: black; }
hr { height: 2px; background-color: black; border: none; }
button { color: black; }
input[type=number]::-webkit-inner-spin-button { opacity: 1 }
input::placeholder { color: white; }
input:focus { outline: none; }
button:focus { outline: none; }
p { margin: 0px; }
h1 { margin: 0px; }
h2 { margin: 0px; }
h3 { margin: 0px; }
img { height: 50px; width: 50px; }
option { font-weight: bold; }


/*** classes ***/
.confirm-button { width: 200px; }
.input-admin { margin-left: 10px; margin-right: 10px; font-size: 16px; width: 372px; background-color: #EFEFEF; }
.restaurantMenuItem { 
    display: block; 
    width: 700px; 
    margin: auto; 
    margin-top: 20px; 
    padding: 0px;
    border-bottom: 4px solid black; 
    background-color: black; 
}
.restaurantMenuItemText
{
    margin: 0px;
    margin-top: 3px;
    margin-right: 2px;
    margin-left: -4px;
    padding: 0px;
    height: 149px;
    width: 464px;
    text-align: left;
    background-color: #f7f9f9;
}
.restaurantMenuItemImg
{
    display: inline-block;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
    height: 197px;
    width: 230px;
    background-color: black;
}
.main-header { margin: 0px; padding: 0px; }
.main-header__nav { display: flex; margin: 0px; padding: 0px 0px 0px 7px; text-shadow: 1px 1px black; color: white; }
.main-header__item { padding: 0px; padding-top: 11px; padding-bottom: 11px; }
.main-header__item-list_right { list-style: none; margin: 0px; margin-left: auto; padding: 0px; display: flex; }
.main-header__item-list_left { list-style: none; margin: 0px; padding: 0px; padding-left: 0px; display: flex; }
.main-header__item a{ margin: 0px; padding: 11px; }
.main-header__item a { text-decoration: none; font-weight: bold; color: white; }
.main-header__item a:hover { color: white; }
.centered { text-align: center; }
.menu-item p { text-align: left; margin-left: 10px; }
.menu-item-texts { padding-bottom: 10px; display: inline-block; width: 84%; }
.menu-item-add-to-cart-button { margin: 0px; margin-top: -9px; padding: 0px; width: 15%; display: inline-block; vertical-align: top; }
.order-item
{
    margin: 0px;
    margin-top: 6px;
    margin-left: -7px;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    width: 378px;
    /* border: 1px solid black */
    background-color: #f7f9f9;
}
.order-item p { margin: 0px; padding: 0px; }
.indexAnonMenuItem { margin: 0px; }
.indexAnonMenuItem p
{
    padding-bottom: 11px;
    padding-left: 4px;
    padding-top: 11px;
    padding-right: 4px;
    text-decoration: none;
    text-shadow: 1px 1px black;
}
.search-admin { width: 396px; }
.restaurant-backgroundImage { display: block; }
.restaurant-backgroundImage-mobile { display: none; }
.restaurantReview
{
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 4.5px;
    background-color: #f7f9f9;
    text-align: left;
    width: 65%;
}
.help-links { background-color: #3c41d6; color: black; }
.orders-show-review p:hover { color: white; }
.indexAnonMenuItem { border-bottom: 1px solid white; }
.admin-edit { margin: auto; margin-bottom: 25px; border: 1px solid black; background-color: #f7f9f9; width: 398px; }
.admin-delete { margin: auto; margin-bottom: 25px; border: 1px solid black; background-color: #f7f9f9; width: 398px; }
.admin-card
{
    margin: auto; 
    width: 400px;
    margin-bottom: 25px; 
    padding: 10px; 
    border: 1px solid black; 
    background-color: #f7f9f9;
}
.admin-card-button
{
    display: inline-block; 
    height: 21px; 
    width: 75px; 
    border: 0.1px solid lightgray;
    border-radius: 1%;
}
.searchBoxInput
{
    height: 48px;
    width: 729.5px;
    font-size: 20px;
    border: none;
    text-align: center;
    font-weight: bold;
    outline: none;
    background-color: #f7f9f9;
}


/*** ids ***/
#searchBoxRestaurants input { display: block; margin: auto; width: 700px; text-align: center; }
#body-checkout h3 { padding: 0px; padding-top: 5px; margin: 0px; /* background-color: yellow; */ }
#body-order-details { width: 100%; margin: auto; }
#main-orders { margin: auto; margin-bottom: 25px; }
#main-order-details { margin: auto; margin-top: 25px; width: 350px; padding-left: 10px; padding-right: 10px; background-color: #f7f9f9; }
#main-about { margin: auto; margin-top: 25px; width: 700px; }
#main-contact { margin: auto; margin-top: 25px; width: 250px; }
#main-menu { margin-top: 25px; margin-bottom: 25px; /* background-color: #3c41d6;; */ width: 100%; }
#grid-restaurants { text-align: center; }
#grid-orders { width: 386px; margin: auto; margin-top: 0px; }
#searchBoxInput { height: 40px; font-weight: normal; color: white; background-color: black; }
#customerComment
{
    font-size: medium;
    text-align: center;
    min-width: 346px;
    max-width: 346px;
    min-height: 100px;
    max-height: 250px;
    margin-left: 0px;
    border: 0px;
}
#menu-restaurant-title
{
    margin-top: 13px;
}
#list-of-payment-options { position: relative; width: 300px; margin: auto; }
#list-of-payment-options select { height: 30px; width: 300px; font-weight: bold; text-align-last: center; }
#backArrow:hover { /* color:  #3e00a1; */ cursor: pointer; }
#navMenuBackArrow
{
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px;
    color: black;
    font-size: x-large;
    font-weight: bold;
}
#NavBar { margin: 0px; padding: 0px; text-align: left; padding-left: 7px; }
#indexAnonMenu
{
    margin: 0px;
    margin-left: -30px;
    width: 300px;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
#resturantsSearchBar { width: 300px; margin: 0px; padding: 0px; padding-top: 25px; margin: auto; }
#searchBox
{
    margin: 0px;
    margin-top: -8px;
    margin-bottom: -8px;
    padding: 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    /* background-color: royalblue; */
}
#searchBoxInput
{
    height: 48px;
    font-size: 20px;
    border: none;
    text-align: center;
    font-weight: bold;
    outline: none;
    background-color: #f7f9f9;
}
#searchBoxInput::placeholder { color: white; }
#customerComment::placeholder { color: black; }
#orders-show-detail a { color: black; text-decoration: none; }
#orders-show-detail p:hover { color: white; }
#indexAnonMenuContactButton { border-bottom: 0; }
#indexHelpButtons { width: 400px; }
#admin-cancel-button { margin-bottom: 10px; margin-top: 10px; }
#adminPostNewsPost { display: block; margin: auto; width: 394px; }
#adminPostNews-title-input { margin-left: -3px; width: 100%; }
#adminPostNews-textarea { margin-left: -3px; width: 100%; }
#adminPostNews-submit-button { margin-left: -3px; width: 100%; }
#adminPostNews-submit-button { width: 400px; }
#admin-stats { display: block; margin: auto; width: 450px; }