@media screen and (max-width: 1000px) 
{
    /*** elements ***/
    button:focus, button:hover { background-color: white; color: black; }

    /*** classes ***/
    .indexAnonMenuItem { border-bottom: 1px solid white; }
    .restaurantMenuItemImg { display: block; background-color: orange; }
    .restaurantMenuItemImg { display: none; }
    .restaurantReview { margin-top: 0px; margin-bottom: 5px; width: 90vw; }
    .restaurantReviewModal::-webkit-scrollbar { display: none; }
    .restaurant-backgroundImage { display: none; }
    .restaurant-backgroundImage-mobile { display: block; }
    .menu-item { margin-top: 5px; width: 98vw; }
    .menu-item-texts { width: 70%; }
    .cart-item button { width: 45px; }
    .main-header__nav { overflow-x: scroll; }
    .main-header__nav::-webkit-scrollbar { display: none; }
    .admin-card { width: 90vw; }
    .order-item { display: block; margin: auto; margin-left: -2px; width: 89vw; }
    .order-review { margin-left: -2px; padding: 10px; width: 89vw; }
    .textareaReviewComment { min-width: 87vw; max-width: 87vw; }
    .confirm-button { width: 50vw; }
    .admin-edit { width: 95.5vw; }
    .admin-delete { width: 95.5vw; }
    .input-admin { width: 80vw; }
    .NavCategory { width: 99.5vw; }
    .menu-edit-hours { width: 94vw; margin: auto; }
    .menu-edit-hours input { width: 50vw; }
    .categoryInput { width: 22vw; }
    .categoryArrowUp { margin: 0px; }
    .categoryArrows { margin: 0px; width: 50px; }
    .menu-edit-category { width: 90vw; }
    .itemInput { width: 50vw; }
    .buttonRemoveItem { width: 52vw; }
    .item { width: 100%; }
    .customerReview { width: 94vw; }

    /*** ids ***/
    #bodyIndex { background-image: none; }
    #indexAnonMenu { margin: auto; width: 94vw; text-align: center; }
    #indexAnonFooter { margin: auto; width: 94vw; text-align: center; }
    #indexAnonMenu { margin-top: 85%; top: 0; }
    #searchBoxRestaurants input { display: block; margin: auto; width: 95.5vw; text-align: center; }
    #testBackground { width: 98vw; }
    #menu { width: 98vw; }
    #customerComment { min-width: 96.5vw; max-width: 96.5vw; }
    #order-button-mobile { display: block; }
    #total-price-mobile { display: block; }
    #order-button { display: none; }
    #total-price { display: none; }
    #informAnonModal { width: 84vw; }
    #menu input { width: 98vw; }
    #navButtonOrders { margin-right: -1px; }
    #order-process-content { width: 90vw; }
    #indexHelpButtons { width: 90vw; }
    #grid-orders { width: 95vw; }
    #body-orders input { margin-left: -2px; width: 94vw; }
    #main-order-details { width: 89vw; }
    #profileCredentials { width: 94vw; }
    #main-about { padding-bottom: 25px; width: 94vw; }
    #main-contact { width: 71vw; }
    #admin-cancel-button
    {
        display: block;
        margin: auto;
        margin-top: 10px;
        margin-bottom: -7px;
        width: 200px;
        text-align: center;
    }
    #adminPostNewsPost { display: block; margin: auto; width: 95vw; }
    #adminPostNews-title-input { padding: 0px; width: 100%; }
    #adminPostNews-textarea { padding: 0px; min-width: 100%; max-width: 100%; }
    #adminPostNews-submit-button { padding: 0px; width: 100%; }
    #admin-stats { width: 94vw; padding-bottom: 25px; }
    #navButtonAdminStats { margin-right: -1px; }
    #restaurantPortal-index-title
    {
        visibility: hidden;
        text-align: center;  
        color: black; 
        margin: 0px; 
        margin-top: -36px; 
        margin-bottom: 0px; 
        padding: 0px;
    }
    #testBackground
    {
        display: block;
        margin: auto;
        width: 98vw;
        background-color: #0000009c;
        padding-bottom: 25px;
    }
    #menu-edit-button-addCategory { width: 94vw; }
    #menuEditRestaurantCategory { width: 94vw; }
    #NavBarEdit
    {
        display: block;
        position: relative;
        bottom: 0;
        margin: auto;
        margin-top: 70px;
        padding-top: 1px;
        padding-bottom: 1px;
        width: 100vw;
    }
    #body-menu-edit { margin-bottom: 0; }
    #restaurant-welcomeMessage { width: 94vw; }
    #restaurant-welcomeMessage button { width: 94vw; }
    #RestaurantClosed { width: 100vw; }
}