/*
:root 
{
    --nav-width: 588px;
}
  

#PortalNav
{
    /* border: 1px solid black; */ /*
}

.NavCategory
{
    margin: auto;
    width: var(--nav-width);
    border: 1px solid black;
}

.NavElement
{
    margin: 0px;
    margin-left: -4px;
    display: inline-block;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

p
{
    text-align: center;
    padding: 10px;
    min-width: 125px;
}

.FirstColumnDiv
{
    margin-left: 0px;
}
*/

p, b, h1, h2, h3, h4, h5, label, input, textarea
{
    font-family: Arial, Helvetica, sans-serif;
}

#NavBar
{
    margin: 0px;
    padding: 0px;
    background-color: greenyellow;
}

#NavBar p
{
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

body
{
    padding: 0px;
    margin: 0px;
}

#PortalNav
{
    margin-top: 150px;
    /* border: 1px solid black; */
}

.NavCategory
{
    margin: auto;
    width: 350px;
    border: 1px solid black;
}

.NavElement
{
    border: 1px solid black;
}

.NavElement:hover
{
    background-color: #fff;
}

.NavElement:active
{
    background-color: #fff;
}

p
{
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    min-width: 125px;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

a
{
    text-decoration: none;
    color: black;
}

.Home
{
    background-color: lightgreen;
}

.Orders
{
    background-color: gray;
}

.Menu
{
    background-color: lightblue;
}

.Customer
{
    background-color: lightcoral;
}

.menuEditCategoryParagraph
{
    margin: 0px;
}

#menuEditCategoryParagraph
{
    margin: 0px;
}

#menuEditRestaurantImageUrl, #menuEditRestaurantDescription, #menuEditRestaurantHours, #menuEditRestaurantCategory, #menuEditRestaurantPhone, #menuEditRestaurantAdress
{
    margin-bottom: 10px;
}

.itemInput
{
    display: block;
    margin: auto;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}

.categoryArrows
{
    background-color: orange;
}

.categoryArrows:hover
{
    background-color: lightslategray;
}

.categoryArrowUp
{
    margin-left: 20px;
}



