p { font-family: Arial, Helvetica, sans-serif; }
textarea { font-family: Arial, Helvetica, sans-serif; }
input { font-family: Arial, Helvetica, sans-serif; }
label { font-family: Arial, Helvetica, sans-serif; }
h5 { font-family: Arial, Helvetica, sans-serif; }
h4 { font-family: Arial, Helvetica, sans-serif; }
h3 { font-family: Arial, Helvetica, sans-serif; }
h2 { font-family: Arial, Helvetica, sans-serif; }
h1 { font-family: Arial, Helvetica, sans-serif; }
b { font-family: Arial, Helvetica, sans-serif; }

#NavBar
{
    margin: 0px;
    padding: 0px;
    color: black;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
body { scroll: auto; padding: 0px; margin: 0px; }
.NavCategory { margin: auto; width: 350px; }
a { text-decoration: none; color: black; }
.Home { background-color: lightgreen; }
.menuEditCategoryParagraph { margin: 0px; }
#menuEditCategoryParagraph { margin: 0px; }
input[type=number]::-webkit-inner-spin-button { opacity: 1 }
input { width: 392px; }
::-webkit-scrollbar { width: 7px; }
#restaurantPortal-index-title
{
    text-align: center;  
    margin: 30px 0px 26px 0px; 
    padding: 0px;
    text-shadow: 2px 1px black; 
    color: white; 
}
#menu { width: 94vw; }
.buttonRemoveItem { width: 408px; }
.customerReview { width: 398px; }
#main-profile { display: block; margin: auto; width: 400px; }
#restaurant-welcomeMessage { display: block; margin: auto; width: 400px; }
#restaurant-welcomeMessage button { width: 400px; }