<!-- user/about.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/mobile.css">
    <link rel="shortcut icon" href="/pics/pizza-slice-single-transparent.png" type="image/x-icon">
    <title>About</title>
</head>

<style>
    body { height: 100vh; background-color: #3c41d6; }
</style>

<body>
    <%- include('../snippets/html_nav_menu_anon.ejs') %>
    <div id="main-about">
        <!-- phone -->
        <p><b>Phone: </b>123 4567890</p>

        <!-- email -->
        <p style="margin-top: 5px;"><b>Email: </b>contact@madeup.com</p>

        <!-- address -->
        <p style="margin-top: 5px;"><b>Address: </b>MadeUp St 123</p>

        <!-- FAQ -->
        <div id="about-FAQ">
            <p class="about-bold-text-title"><b>FAQ</b></p>
            <div id="qa#n">
                <p>Question #n</p>
                <p>Answer #n</p>
            </div>

            <br />

            <div id="qa#n">
                <p>Question #n</p>
                <p>Answer #n</p>
            </div>

            <br />

            <div id="qa#n">
                <p>Question #n</p>
                <p>Answer #n</p>
            </div>
        </div>

        <!-- customer info -->
        <div id="about-customer-info" style="margin-top: 25px;">
            <p class="about-bold-text-title"><b>Information for customers</b></p>
            <p> 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quam purus, porttitor sed porttitor ut, congue ac purus. 
                Integer non porta velit. In sollicitudin lacus a laoreet elementum. Cras cursus porta rutrum. Donec euismod quam elit. 
                Quisque convallis lectus in porttitor scelerisque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, 
                per inceptos himenaeos. Mauris elementum efficitur scelerisque. Cras faucibus rutrum dolor, id ullamcorper eros fringilla nec. 
                Maecenas pulvinar tristique fermentum. Suspendisse erat elit, ullamcorper eget enim eu, lacinia feugiat orci. Sed sit amet velit semper, 
                tincidunt mauris sed, mattis nibh. Etiam in enim quis justo ultricies porta non et elit. Duis vulputate molestie justo et semper. 
                Suspendisse malesuada luctus elit eget ultrices. Phasellus sagittis, eros eget commodo mollis, sapien est pellentesque lectus, 
                eget mattis quam ex eget erat.
            </p>
        </div>

        <!-- restaurant info -->
        <div id="about-restaurant-info" style="margin-top: 25px;">
            <p class="about-bold-text-title"><b>Information for restaurants</b></p>
            <p> 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quam purus, porttitor sed porttitor ut, congue ac purus. 
                Integer non porta velit. In sollicitudin lacus a laoreet elementum. Cras cursus porta rutrum. Donec euismod quam elit. 
                Quisque convallis lectus in porttitor scelerisque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, 
                per inceptos himenaeos. Mauris elementum efficitur scelerisque. Cras faucibus rutrum dolor, id ullamcorper eros fringilla nec. 
                Maecenas pulvinar tristique fermentum. Suspendisse erat elit, ullamcorper eget enim eu, lacinia feugiat orci. Sed sit amet velit semper, 
                tincidunt mauris sed, mattis nibh. Etiam in enim quis justo ultricies porta non et elit. Duis vulputate molestie justo et semper. 
                Suspendisse malesuada luctus elit eget ultrices. Phasellus sagittis, eros eget commodo mollis, sapien est pellentesque lectus, 
                eget mattis quam ex eget erat.
            </p>
        </div>
    </div>
</body>
</html>