<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/pics/pizza-slice-single-transparent.png" type="image/x-icon">
    <title>Contact</title>
</head>
<%- include('../snippets/html_nav_menu_anon.ejs') %>
<body style="background-color: lightgray">
    <main id="main-contact">
        <p><b>Phone: </b>123 4567890</p>
        <p style="margin-top: 5px;"><b>Email: </b>contact@madeup.com</p>
        <p style="margin-top: 5px;"><b>Address: </b>MadeUp St 123</p>
    </main>
</body>
</html>