<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/mobile.css">
    <link rel="shortcut icon" href="/pics/pizza-slice-single-transparent.png" type="image/x-icon">
</head>

<style>
    body { height: 100vh; background-color: #3c41d6 }

    #main-login { background-color: #f7f9f9; margin: auto; margin-top: 50px; width: 400px; text-align: center; border: 1px solid black; }
    #main-login button { margin-top: 23.5px; margin-bottom: 25px; height: 30px; width: 125px; border: 1px solid gray; }
    #main-login input { height: 25px; width: 250px; margin-bottom: -1px; }
    #main-login input[placeholder] { text-align: center; }
    #title { margin-top: 26px; margin-bottom: 20px; }
</style>

<body>
    <!-- nav menu -->
    <%- include('../snippets/html_nav_menu_anon.ejs') %>

    <!-- login input -->
    <div id="main-login">
        <h3 id="title">Login Below</h3>

        <p><%=statusText %></p>
        
        <form action="/login-post" method="POST">
            <div>
                <input required type="email" id="email" name="email" placeholder="Email" value="">
            </div>
            <div>
                <input required type="password" id="password" name="password" placeholder="Password" value="">
            </div>
            <button class="btn" type="submit"><b>Login</b></button>
        </form>
    </div>
</body>
</html>
