<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/mobile.css">
    <link rel="shortcut icon" href="/pics/pizza-slice-single-transparent.png" type="image/x-icon">
    <script>       
        function registerCustomer()
        {
            var customerForm = document.getElementById("registerCustomer");
            var restaurantForm = document.getElementById("registerRestaurant");
            var customerBtn = document.getElementById("registerCustomerBtn");
            var restaurantBtn = document.getElementById("registerRestaurantBtn");

            customerForm.style.display = "block";
            restaurantForm.style.display = "none";
            restaurantBtn.style.backgroundColor = "#f7f9f9";
            restaurantBtn.style.color = "black";
            customerBtn.style.backgroundColor = "#3e00a1";
            customerBtn.style.color = "#f7f9f9";
        }

        function registerRestaurant()
        {
            var customerForm = document.getElementById("registerCustomer");
            var restaurantForm = document.getElementById("registerRestaurant");
            var customerBtn = document.getElementById("registerCustomerBtn");
            var restaurantBtn = document.getElementById("registerRestaurantBtn");
            
            customerForm.style.display = "none";
            restaurantForm.style.display = "block";
            customerBtn.style.backgroundColor = "#f7f9f9";
            customerBtn.style.color = "black";
            restaurantBtn.style.backgroundColor = "#3e00a1";
            restaurantBtn.style.color = "#f7f9f9";
        }

        function checkPassRestaurant()
        {
            var password = document.getElementById("passwordRestaurant");
            var confirmPassword = document.getElementById("confirmPasswordRestaurant");
            var submitFormButton = document.getElementById("submitFormBtnRegisterRestaurant");

            if(confirmPassword.value == "")
            {
                
            }   

            else if(password.value != confirmPassword.value)
            {
                password.style.color = "red";
                confirmPassword.style.color = "red"
                submitFormButton.disabled = true;
            }

            else if(password.value == confirmPassword.value)
            {
                password.style.color = "lightgreen";
                confirmPassword.style.color = "lightgreen";
                submitFormButton.disabled = false;
            }
        }

        function checkPassCustomer()
        {
            var password = document.getElementById("passwordCustomer");
            var confirmPassword = document.getElementById("confirmPasswordCustomer");
            var submitFormButton = document.getElementById("submitFormBtnRegisterCustomer");
    
            if(confirmPassword.value == "")
            {

            }

            else if(password.value != confirmPassword.value)
            {
                password.style.color = "red";
                confirmPassword.style.color = "red";
                submitFormButton.disabled = true;
            }

            else if(password.value == confirmPassword.value)
            {
                password.style.color = "lightgreen";
                confirmPassword.style.color = "lightgreen";
                submitFormButton.disabled = false;
            }
        }
    </script>
</head>
<%- include('../snippets/html_nav_menu_anon.ejs') %>
<body style="background-color: lightgray">
    <main id="main-register">

        <h3 style="margin-top: 25px; margin-bottom: 25px;">Register Below</h3>
        
        <p style="margin-bottom: 25px;"><%=statusText %></p>
        
        <button id="registerCustomerBtn" onclick="registerCustomer()" style="margin-right: -10px;"><b>Customer</b></button>
        <button id="registerRestaurantBtn" onclick="registerRestaurant()"><b>Restaurant</b></button>

        <!-- register customer -->
        <div hidden id="registerCustomer">
            <form action="/register-post" method="POST">
                <div>
                    <input type="email" maxlength="100" id="emailCustomer" name="emailCustomer" placeholder="Email" value="" required>
                </div>
                
                <div>
                    <input type="text" maxlength="100" id="nameCustomer" name="nameCustomer" placeholder="Name" value="" required>
                </div>

                <div>
                    <input type="password" maxlength="100" id="passwordCustomer" name="passwordCustomer" placeholder="Password" value="" oninput="checkPassCustomer()" required>
                </div>

                <div>
                    <input type="password" maxlength="100" id="confirmPasswordCustomer" name="confirmPasswordCustomer" placeholder="Confirm Password" value="" oninput="checkPassCustomer()" required>
                </div>

                <button class="btn" id="submitFormBtnRegisterCustomer" type="submit" style="margin-top: 25px"><b>Confirm</b></button>
            </form>
        </div>

        <!-- register restaurant -->
        <div hidden id="registerRestaurant">
            <form action="register-restaurant-post" method="POST">
                <div>
                    <input type="email" maxlength="100" id="emailRestaurant" name="emailRestaurant" placeholder="Email" value="" required>
                </div>

                <div>
                    <input type="text" maxlength="100" id="addressRestaurant" name="addressRestaurant" placeholder="Address" value="" required>
                </div>

                <div>
                    <input type="tel" maxlength="15" id="phoneRestaurant" name="phoneRestaurant" placeholder="Phone" value="" required>
                </div>

                <div>
                    <input type="text" maxlength="100" id="ownerRestaurant" name="ownerRestaurant" placeholder="Owner Name" value="" required>
                </div>

                <div>
                    <input type="text" maxlength="100" id="nameRestaurant" name="nameRestaurant" placeholder="Restaurant Name" value="" required>
                </div>

                <div>
                    <input type="text" maxlength="15" id="companyIdNumberRestaurant" name="companyIdNumberRestaurant" placeholder="Company Id Number" value="" required>
                </div>

                <div>
                    <input type="text" maxlength="15" id="city" name="city" placeholder="City" value="" required>
                </div>

                <div>
                    <input type="password" maxlength="100" id="passwordRestaurant" name="passwordRestaurant" placeholder="Password" value="" oninput="checkPassRestaurant()" required>
                </div>

                <div>
                    <input type="password" maxlength="100" id="confirmPasswordRestaurant" name="confirmPasswordRestaurant" placeholder="Confirm Password" value="" oninput="checkPassRestaurant()" required>
                </div>

                <button id="submitFormBtnRegisterRestaurant" class="btn" type="submit" style="margin-top: 22.5px;"><b>Confirm</b></button>
            </form>
        </div>
    </main>
</body>
</html>
