<a onclick="goBack()" style="text-decoration: none;">
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list_left">
                <h3 id="navMenuBackArrow">‎&#32‎‎‎</h3>
            </ul>

            <ul class="main-header__item-list_right">

            </ul>
        </nav>
</header>
</a>