<a href="/" style="text-decoration: none;">
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list_left">
                <img src="/pics/back-arrow.png" style="height: 40px; width: 45px;"></img>
            </ul>

            <ul class="main-header__item-list_right">

            </ul>
        </nav>
</header>
</a>