<header class="main-header" onclick="">
    <nav class="main-header__nav">

        <ul class="main-header__item-list_left">
            
            <li id="navButtonHome" class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
            </li>

            <li id="navButtonRestaurants" class="main-header__item">
                <a class="<%= path === '/restaurant-list' ? 'active' : '' %>" href="/restaurants">Restaurants</a>
            </li>

            <li id="navButtonOrders" class="main-header__item">
                <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
            </li>
        </ul>

        <ul class="main-header__item-list_right">
            
            <li id="navButtonProfile" class="main-header__item">
                <a class="" href="/profile">Account</a>
            </li>

            <li id="navButtonLogout" class="main-header__item">
                <a class="<%= path === '/logout/' ? 'active' : '' %>" href="/logout">Logout</a>
            </li>

        </ul>
    </nav>
</header>