<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/portalRestaurant.css">
    <link rel="stylesheet" href="/css/mobile.css">
    <title>Error 404</title>
</head>
<a href="/restaurantPortal"><nav id="NavBar"><p><b>Home</b></p></nav></a>
<body style="background-image: url(/pics/pizza-slice.png); text-align: center;">
    <h1 style="color: white;">Error - 404 - Page does not exist</h1>
</body>
</html>
