<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Contact</title>
    <script src="/js/functionality.js"></script>
</head>
<%- include('../snippets/html_nav_menu_anon.ejs') %>
<body>
    <main id="main-contact">
        <p><b>Email: </b>contact@madeup.com</p>
        <p><b>Phone: </b>123 4567890</p>
        <p><b>Address: </b>MadeUp St 123</p>
    </main>
</body>
</html>