<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/pics/pizza-slice-single-transparent.png" type="image/x-icon">
    <title>Help</title>
</head>
<body>
    <p><b>Support</b></p>
    <p><b>Info</b></p>
    <p><b>FAQ</b></p>
</body>
</html>