<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <!-- admin view -->
    <% if(admin == true) { %>
        <%- include('../snippets/html_nav_menu_admin.ejs') %>
        <main id="main-index">
        <p> Home Page for admin </p>
        </main>
    
    <!-- logged in user view -->
    <% } else if(loggedIn == true) { %>
        <%- include('../snippets/html_nav_menu_logged_in.ejs') %>
        <main id="main-index">
        <p> Home Page for logged in </p>
        </main>
    
    <!-- anonmymous view -->
    <% } else { %>
        <%- include('../snippets/html_nav_menu_anon.ejs') %>
        <main id="main-index">
            <p> Home Page for anonymous </p>
        </main>
    <% } %>

    <script>
        var socket = new WebSocket("ws://localhost:1001");
        socket.onopen = function(event) {
            //alert("socket is connected");
            socket.send("websocket test message");
            console.log("socket is open");
            socket.close();
        };

        socket.onclose = function(event) {
            console.log("socket is closed");
        }
    </script>
</body>
</html>