<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <!-- admin view -->
    <% if(admin == true) { %>
        <%- include('../snippets/html_nav_menu_admin.ejs') %>
        <p>admin view</p>
    
    <!-- logged in user view -->
    <% } else if(loggedIn == true) { %>
        <%- include('../snippets/html_nav_menu_logged_in.ejs') %>
        <p>user view</p>
    
    <!-- anonmymous view -->
    <% } else { %>
        <div id="indexAnonMenu">
            <!-- <div class="indexAnonMenuItem"><a href="/"><b><p>Shop</p></b></a></div> -->
            <div class="indexAnonMenuItem"><a href="/about"><b><p>About</p></b></a></div>
            <div class="indexAnonMenuItem"></li><a href="/restaurants"><b><p>Restaurants</p></b></a></div>
            <div class="indexAnonMenuItem"></li><a href="/register"><b><p>Register</p></b></a></div>
            <div class="indexAnonMenuItem"><a href="/login"><b><p>Login</p></b></a></div>
            <div class="indexAnonMenuItem"><a href="/contact"><b><p>Contact</p></b></a></div>
        </div>
    <% } %>
</body>
</html>