<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/functionality.js"></script>
</head>
<%- include('../snippets/html_nav_menu_anon.ejs') %>
<body>
    <main id="main-login">

        <br />

        <h3> Login Below </h3>

        <br />
        <p><%= statusText %></p>

        <form action="/login-post" method="POST">

            <div>
                <input type="email" id="email" name="email" placeholder="Email" value="">
            </div>

            <div>
                <input type="password" id="password" name="password" placeholder="Password" value="">
            </div>

            <button class="btn" type="submit">Login</button>

        </form>
    </main>
</body>
</html>
