<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title><%= pageTitle %></title>
</head>
<body>
    <!-- admin view -->
    <% if(admin == true) { %>
        <%- include('../snippets/html_nav_menu_admin.ejs') %>
    
    <!-- logged in user view -->
    <% } else if(loggedIn == true) { %>
        <%- include('../snippets/html_nav_menu_logged_in.ejs') %>
    <% } %>
    
    <main id="main-logout">
        <p><%= statusText %></p>
        <p style="margin-top: 25px;">Are you sure you wanna logout?</p>

        <form action="/logout-post" method="POST">
            <button class="btn" type="submit" style="margin-top: 25px; margin-bottom: 2.5px;">Yes</button>
        </form>

        <form action="/" method="GET">
            <button class="btn" type="submit" style="margin-bottom: 25px;">No</button>
        </form>
    </main>
</body>
</html>
