<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<body>
    <p><%= statusText %></p>
    <p>Are you sure you wanna logout?</p>

    <form action="/logout-post" method="POST">
        <button class="btn" type="submit">Yes</button>
    </form>

    <form action="/" method="GET">
        <button class="btn" type="submit">No</button>
    </form>
</body>
</html>
